.title{
    background-color:  skyblue;
    color: black;
    padding: 10px;
}

.mycontainer{
    padding-right: 0;
    padding-left: 0;
    margin-right: 0;
    margin-left: 0;
    
}

.col-4{
    background-color: mintcream;
}

.left-content{
    padding-left: 15px;
}
.city-display{
    
}